@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-100
    }
}

@layer components {
    .wrapper {
        @apply container mx-auto md:px-16 px-4
    }
    
    .btn {
        @apply bg-gray-300 hover:brightness-95 px-3 py-1 rounded-full font-semibold
    }

    .btn-primary {
        @apply btn bg-primary text-white
    }
    
    .grid-items {
        @apply grid xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 grid-cols-2 gap-4
    }
}